<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Ingenuity a Corporate Category Bootstrap Responsive website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ingenuity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="static/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="static/css/jquery.desoslide.css">
<!-- //Custom Theme files --> 
<!-- js -->
<script src="static/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- web-fonts -->  
<link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="banner">
		<div class="banner-agileinfo">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="header-w3lsrow">  
						<div class="logo">
							<h1><a href="index.html">Ingenuity</a></h1>
						</div>  
						<div class="header-right">   
							<ul>
								<li><a href="{{ url_for('login') }}" data-toggle="modal">Login</a></li>
								<li><a href="#myModal2" data-toggle="modal">Register</a></li>  
							</ul>
							<div class="clearfix"> </div>  
						</div>
						<div class="menu"> 
							<div class="toggle"></div> 
							<ul class="w3nav">
								<li><a href="index.html" class="active"> Home</a></li>
								<li><a href="about.html"> About</a></li> 
								<li><a href="blog.html"> Blog</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Short Codes <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>     
									</ul>
								</li> 
								<li><a href="contact.html"> Contact Us</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>  
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //header --> 
			<!-- banner-text --> 
			<div class="banner-w3lstext">
				<div class="container">
					<h6>Inventive Solutions</h6>
					<h2>Loremipsum</h2>
				</div>  
			</div>  
			<!-- //banner-text --> 
			<!-- banner-address -->
			<div class="bnrwthree-address"> 
				<ul>
					<li><h5><i class="fa fa-map-marker" aria-hidden="true"></i> Address :</h5><p>Broome St, Canada, NY 10002, New York</p></li>
					<li><h5><i class="fa fa-phone" aria-hidden="true"></i> Free Call :</h5><p>+01 111 222 3333</p></li>
					<li><h5><i class="fa fa-envelope" aria-hidden="true"></i> E-mail :</h5><p><a href="mailto:info@example.com"> mail@example.com</a></p></li>
				</ul>
			</div>
			<!-- //banner-address --> 
		</div>
	</div>
	<!-- //banner -->
	<!-- login modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>  
				</div>
				<div class="modal-body modal-body-sub"> 
					<h3>Login Form !</h3>
					<div class="register">
						<form action="#" method="post">			
							<input name="Email" placeholder="Email Address" type="text" required="">						
							<input name="Password" placeholder="Password" type="password" required="">										
							<div class="sign-up">
								<input type="submit" value="Login"/>
							</div>
						</form>
					</div>  
				</div>
			</div>
		</div>
	</div> 
	<!-- //login modal -->	
	<!-- register modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button> 
				</div>
				<div class="modal-body modal-body-sub"> 
					<div class="modal_body_left modal_body_left1"> 
						<h3>Register Now !</h3>
						<div class="register">
							<form action="#" method="post">			
								<input placeholder="Name" name="Name" type="text" required="">
								<input placeholder="Email Address" name="Email" type="email" required="">	
								<input placeholder="Password" name="Password" type="password" required="">	
								<input placeholder="Confirm Password" name="Password" type="password" required="">
								<div class="sign-up">
									<input type="submit" value="Register"/>
								</div>
							</form>
						</div> 		 
					</div>  
				</div>
			</div>
		</div>
	</div> 
	<!-- //register modal -->	 
	<!-- welcome -->
	<div class="welcome"> 
		<div class="container">
			<div class="col-md-7 welcome-w3lleft">
				<h3 class="agileits-title">Welcome !</h3>
				<h4>Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut </h4>
				<p>Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non nibh nec enim sollicitudin interdum.tristique senectus et netus et malesuada fames ac turpis egestas 
				</p>   
			</div>  
			<div class="col-md-5 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
						<div class="agileits-wicon">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5> 
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5> 
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-tv" aria-hidden="true"></i>
						</div>
						<h5>Proin eget ipsum ultrices</h5> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	<!-- features -->
	<div class="features">
		<div class="container"> 
			<div class="features-agileinfo">
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>Best Designs</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p> 
					<h5 class="w3ls-featext">1</h5>
				</div>
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>Online Advisors</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p>
					<h5 class="w3ls-featext">2</h5>
				</div>
				<div class="col-md-4 col-sm-4 features-wthree-grids"> 
					<h4>New Technologies</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus 
						reiciendis maiores alias consequatur aut. Aenean nec purus ac orci finibus facilisis. </p> 
					<h5 class="w3ls-featext">3</h5>
				</div> 
				<div class="clerfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	
	<!-- newsletter -->  
	<div class="footer-agiletop newsletter">
		<div class="container"> 
			<div class="col-md-6 w3agile_newsletter_left">
				<h3 class="agileits-title">Newsletter</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send" />
				</form>
			</div>
			<div class="clearfix"> </div>   
		</div>
	</div>
	<!-- //newsletter -->  
	
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');  
		});
	</script>
	<!-- //menu js --> 
	<!-- start-smooth-scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="static/js/move-top.js"></script>
	<script type="text/javascript" src="static/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- desoslide-JavaScript --> 
	<script src="static/js/jquery.desoslide.js"></script>
	<script>
		$('#demo1_thumbs').desoSlide({
			main: {
				container: '#demo1_main_image',
				cssClass: 'img-responsive'
			},
			 effect: 'sideFade',
			caption: true
		});
	</script> 
	<!-- //desoslide-JavaScript --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.js"></script>
</body>
</html>